# node modules (back & front)
node_modules/
client/node_modules/
backend/node_modules/

# build files
client/dist/

# env variables
backend/config/config.env

# SSL
localhost+2.pem
localhost+2-key.pem


