# node modules (back & front)
client/node_modules/
server/node_modules/

# build files
client/dist/
server/uploads

# env variables
server/*.env*
client/*.env*
*.env*

# SSL
localhost+2.pem
localhost+2-key.pem


